# Copiar a .env y ajustar credenciales
# Formato Prisma para SQL Server:
# sqlserver://HOST:PORT;database=DB;user=USER;password=PASS;encrypt=true
DATABASE_URL="sqlserver://localhost:1433;database=SPN_INGRESOS;user=sa;password=TuPassword;encrypt=false;trustServerCertificate=true"
